sudo: false
language: ruby
rvm:
- ruby-2.3.0-preview1
script:
- RAILS_ENV=test bundle exec rake --trace db:create db:migrate test
deploy:
  provider: heroku
  api_key:
    secure: guB9/2zuhMxe2dAao0NphB5+IczdUNIR/DBP9pvtQeSnRjQz4jgpD6WS2ju9rBbkyWf3r0uJA2aom0z4L3LIh6vlYuU0zyKYI3wSsEfzJvNwkLw2AulsizgUlLmDExnT4JtlZoQZK4ndA/taRZ/u12e5P2lYrEndkyWyOUJ4qOk=
  app: docsdoctor
  on:
    repo: codetriage/docs_doctor
  run: "bin/rake db:migrate"
